
<div id="AddFacilityModal" class="modal fade" tabindex="-1" aria-labelledby="AddFacilityLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddFacilityModalLabel">Facility Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="addFacilityModalBody">

            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary waves-effect waves-light" onclick="SaveVitalSign()">Save changes</button>*@
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="SaveFacility()">Save Changes</button>
            </div>
        </div>
    </div>
</div>