<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/" key="t-default">Default</a></li>
                        <li><a href="/dashboard/dashboardsaas" key="t-saas">Saas</a></li>
                        <li><a href="/dashboard/dashboardcrypto" key="t-crypto">Crypto</a></li>
                        <li><a href="/dashboard/dashboardblog" key="t-blog">Blog</a></li>
                        <li><a href="/dashboard/dashboardjob" key="t-jobs">Jobs</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge rounded-pill bg-danger float-end" key="t-hot">Hot</span>
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Layouts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/layouts/layoutslightsidebar" key="t-light-sidebar">Light Sidebar</a></li>
                                <li><a href="/layouts/layoutcompactsidebar" key="t-compact-sidebar">Compact Sidebar</a></li>
                                <li><a href="/layouts/layoutsiconsidebar" key="t-icon-sidebar">Icon Sidebar</a></li>
                                <li><a href="/layouts/layoutboxed" key="t-boxed-width">Boxed Width</a></li>
                                <li><a href="/layouts/layoutpreloader" key="t-preloader">Preloader</a></li>
                                <li><a href="/layouts/layoutcoloredsidebar" key="t-colored-sidebar">Colored Sidebar</a></li>
                                <li><a href="/layouts/layoutscrollable" key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/layouts/layouthorizontal" key="t-horizontal">Horizontal</a></li>
                                <li><a href="/layouts/layoutshoritopbarlight" key="t-topbar-light">Topbar light</a></li>
                                <li><a href="/layouts/layouthoriboxedwidth" key="t-boxed-width">Boxed width</a></li>
                                <li><a href="/layouts/layouthoripreloader" key="t-preloader">Preloader</a></li>
                                <li><a href="/layouts/layouthoricoloredheader" key="t-colored-topbar">Colored Header</a></li>
                                <li><a href="/layouts/layoutshoriscrollable" key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title" key="t-apps">Apps</li>



                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-dashboards">Calendars</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/calendar" key="t-tui-calendar">TUI Calendar</a></li>
                        <li><a href="/calendar/CalendarFull" key="t-full-calendar">Full Calendar</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/chat" class="waves-effect">
                        <i class="bx bx-chat"></i>
                        <span key="t-chat">Chat</span>
                    </a>
                </li>

                <li>
                    <a href="/filemanager" class="waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-file-manager">File Manager</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-store"></i>
                        <span key="t-ecommerce">Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ecommerce/ecommerceproduct" key="t-products">Products</a></li>
                        <li><a href="/ecommerce/ecommerceproductdetail" key="t-product-detail">Product Detail</a></li>
                        <li><a href="/ecommerce/ecommerceorders" key="t-orders">Orders</a></li>
                        <li><a href="/ecommerce/ecommercecustomers" key="t-customers">Customers</a></li>
                        <li><a href="/ecommerce/ecommercecart" key="t-cart">Cart</a></li>
                        <li><a href="/ecommerce/ecommercecheckout" key="t-checkout">Checkout</a></li>
                        <li><a href="/ecommerce/ecommerceshops" key="t-shops">Shops</a></li>
                        <li><a href="/ecommerce/ecommerceaddproduct" key="t-add-product">Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-bitcoin"></i>
                        <span key="t-crypto">Crypto</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/crypto/cryptowallet" key="t-wallet">Wallet</a></li>
                        <li><a href="/crypto/cryptobuysell" key="t-buy">Buy/Sell</a></li>
                        <li><a href="/crypto/cryptoexchange" key="t-exchange">Exchange</a></li>
                        <li><a href="/crypto/cryptolanding" key="t-lending">Lending</a></li>
                        <li><a href="/crypto/cryptoorders" key="t-orders">Orders</a></li>
                        <li><a href="/crypto/cryptokycapplication" key="t-kyc">KYC Application</a></li>
                        <li><a href="/crypto/cryptoicolanding" key="t-ico">ICO Landing</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-envelope"></i>
                        <span key="t-email">Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/email/emailinbox" key="t-inbox">Inbox</a></li>
                        <li><a href="/email/emailread" key="t-read-email">Read Email</a></li>
                        <li>
                            <a href="javascript: void(0);">
                                <span key="t-email-templates">Templates</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/email/emailtemplatebasic" key="t-basic-action">Basic Action</a></li>
                                <li><a href="/email/emailtemplatealert" key="t-alert-email">Alert Email</a></li>
                                <li><a href="/email/emailtemplatebilling" key="t-bill-email">Billing Email</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-receipt"></i>
                        <span key="t-invoices">Invoices</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/invoices/list" key="t-invoice-list">Invoice List</a></li>
                        <li><a href="/invoices/detail" key="t-invoice-detail">Invoice Detail</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-briefcase-alt-2"></i>
                        <span key="t-projects">Projects</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/projects/ProjectGrid" key="t-p-grid">Projects Grid</a></li>
                        <li><a href="/projects/projectlist" key="t-p-list">Projects List</a></li>
                        <li><a href="/projects/projectoverview" key="t-p-overview">Project Overview</a></li>
                        <li><a href="/projects/projectcreate" key="t-create-new">Create New</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-task"></i>
                        <span key="t-tasks">Tasks</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/tasks/tasklist" key="t-task-list">Task List</a></li>
                        <li><a href="/tasks/taskkanban" key="t-kanban-board">Kanban Board</a></li>
                        <li><a href="/tasks/taskcreate" key="t-create-task">Create Task</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-user-detail"></i>
                        <span key="t-contacts">Contacts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/contacts/contactsgrid" key="t-user-grid">Users Grid</a></li>
                        <li><a href="/contacts/contactslist" key="t-user-list">Users List</a></li>
                        <li><a href="/contacts/contactsprofile" key="t-profile">Profile</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-detail"></i>
                        <span key="t-blog">Blog</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/blog/list" key="t-blog-list">Blog List</a></li>
                        <li><a href="/blog/grid" key="t-blog-grid">Blog Grid</a></li>
                        <li><a href="/blog/details" key="t-blog-details">Blog Details</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect has-arrow">
                        <i class="bx bx-briefcase-alt"></i>
                        <span key="t-jobs">Jobs</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/job/list" key="t-job-list">Job List</a></li>
                        <li><a href="/job/grid" key="t-job-grid">Job Grid</a></li>
                        <li><a href="/job/apply" key="t-apply-job">Apply Job</a></li>
                        <li><a href="/job/details" key="t-job-details">Job Details</a></li>
                        <li><a href="/job/categories" key="t-Jobs-categories">Jobs Categories</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-candidate">Candidate</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/candidate/list" key="t-list">List</a></li>
                                <li><a href="/candidate/overview" key="t-overview">Overview</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title" key="t-pages">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication">Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/auth/login" key="t-login">Login</a></li>
                        <li><a href="/auth/login2" key="t-login-2">Login 2</a></li>
                        <li><a href="/auth/register" key="t-register">Register</a></li>
                        <li><a href="/auth/register2" key="t-register-2">Register 2</a></li>
                        <li><a href="/auth/recoverpw" key="t-recover-password">Recover Password</a></li>
                        <li><a href="/auth/Recoverpw2" key="t-recover-password-2">Recover Password 2</a></li>
                        <li><a href="/auth/lockscreen" key="t-lock-screen">Lock Screen</a></li>
                        <li><a href="/auth/lockscreen2" key="t-lock-screen-2">Lock Screen 2</a></li>
                        <li><a href="/auth/confirmmail" key="t-confirm-mail">Confirm Email</a></li>
                        <li><a href="/auth/confirmmail2" key="t-confirm-mail-2">Confirm Email 2</a></li>
                        <li><a href="/auth/emailverification" key="t-email-verification">Email verification</a></li>
                        <li><a href="/auth/emailverification2" key="t-email-verification-2">Email Verification 2</a></li>
                        <li><a href="/auth/twostepverification" key="t-two-step-verification">Two Step Verification</a></li>
                        <li><a href="/auth/twostepverification2" key="t-two-step-verification-2">Two Step Verification 2</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-utility">Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/pages/pagestarter" key="t-starter-page">Starter Page</a></li>
                        <li><a href="/pages/pagemaintenance" key="t-maintenance">Maintenance</a></li>
                        <li><a href="/pages/pagecomingsoon" key="t-coming-soon">Coming Soon</a></li>
                        <li><a href="/pages/pagetimeline" key="t-timeline">Timeline</a></li>
                        <li><a href="/pages/pagefaqs" key="t-faqs">FAQs</a></li>
                        <li><a href="/pages/pagepricing" key="t-pricing">Pricing</a></li>
                        <li><a href="/pages/page404" key="t-error-404">Error 404</a></li>
                        <li><a href="/pages/page500" key="t-error-500">Error 500</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-components">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-tone"></i>
                        <span key="t-ui-elements">UI Elements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ui/alerts" key="t-alerts">Alerts</a></li>
                        <li><a href="/ui/buttons" key="t-buttons">Buttons</a></li>
                        <li><a href="/ui/cards" key="t-cards">Cards</a></li>
                        <li><a href="/ui/carousel" key="t-carousel">Carousel</a></li>
                        <li><a href="/ui/dropdowns" key="t-dropdowns">Dropdowns</a></li>
                        <li><a href="/ui/grid" key="t-grid">Grid</a></li>
                        <li><a href="/ui/images" key="t-images">Images</a></li>
                        <li><a href="/ui/lightbox" key="t-lightbox">Lightbox</a></li>
                        <li><a href="/ui/modals" key="t-modals">Modals</a></li>
                        <li><a href="/ui/offcanvas" key="t-offcanvas">Offcanvas</a></li>
                        <li><a href="/ui/rangeslider" key="t-range-slider">Range Slider</a></li>
                        <li><a href="/ui/sessiontimeout" key="t-session-timeout">Session Timeout</a></li>
                        <li><a href="/ui/progressbars" key="t-progress-bars">Progress Bars</a></li>
                        <li><a href="/ui/placeholders" key="t-placeholders">Placeholders</a></li>
                        <li><a href="/ui/sweetalert" key="t-sweet-alert">Sweet-Alert</a></li>
                        <li><a href="/ui/tabsaccordions" key="t-tabs-accordions">Tabs & Accordions</a></li>
                        <li><a href="/ui/typography" key="t-typography">Typography</a></li>
                        <li><a href="/ui/toasts" key="t-toasts">Toasts</a></li>
                        <li><a href="/ui/video" key="t-video">Video</a></li>
                        <li><a href="/ui/general" key="t-general">General</a></li>
                        <li><a href="/ui/colors" key="t-colors">Colors</a></li>
                        <li><a href="/ui/rating" key="t-rating">Rating</a></li>
                        <li><a href="/ui/notifications" key="t-notifications">Notifications</a></li>
                        <li><a href="/ui/utilities" key="t-utilities">Utilities</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="bx bxs-eraser"></i>
                        <span class="badge rounded-pill bg-danger float-end">10</span>
                        <span key="t-forms">Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/form/formelements" key="t-form-elements">Form Elements</a></li>
                        <li><a href="/form/formlayouts" key="t-form-layouts">Form Layouts</a></li>
                        <li><a href="/form/formvalidation" key="t-form-validation">Form Validation</a></li>
                        <li><a href="/form/formadvanced" key="t-form-advanced">Form Advanced</a></li>
                        <li><a href="/form/formeditors" key="t-form-editors">Form Editors</a></li>
                        <li><a href="/form/formuploads" key="t-form-upload">Form File Upload</a></li>
                        <li><a href="/form/formxeditable" key="t-form-xeditable">Form Xeditable</a></li>
                        <li><a href="/form/formrepeater" key="t-form-repeater">Form Repeater</a></li>
                        <li><a href="/form/formwizard" key="t-form-wizard">Form Wizard</a></li>
                        <li><a href="/form/formmak" key="t-form-mask">Form Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-list-ul"></i>
                        <span key="t-tables">Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/tables/tablebasic" key="t-basic-tables">Basic Tables</a></li>
                        <li><a href="/tables/tabledatatable" key="t-data-tables">Data Tables</a></li>
                        <li><a href="/tables/tableresponsive" key="t-responsive-table">Responsive Table</a></li>
                        <li><a href="/tables/tableeditable" key="t-editable-table">Editable Table</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bxs-bar-chart-alt-2"></i>
                        <span key="t-charts">Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/chart/apex" key="t-apex-charts">Apex Charts</a></li>
                        <li><a href="/chart/echart" key="t-e-charts">E Charts</a></li>
                        <li><a href="/chart/chartjs" key="t-chartjs-charts">Chartjs Charts</a></li>
                        <li><a href="/chart/flot" key="t-flot-charts">Flot Charts</a></li>
                        <li><a href="/chart/charttui" key="t-ui-charts">Toast UI Charts</a></li>
                        <li><a href="/chart/knob" key="t-knob-charts">Jquery Knob Charts</a></li>
                        <li><a href="/chart/sparkline" key="t-sparkline-charts">Sparkline Charts</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-aperture"></i>
                        <span key="t-icons">Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/icon/iconboxicons" key="t-boxicons">Boxicons</a></li>
                        <li><a href="/icon/iconmaterialdesign" key="t-material-design">Material Design</a></li>
                        <li><a href="/icon/icondripicons" key="t-dripicons">Dripicons</a></li>
                        <li><a href="/icon/iconfontawesome" key="t-font-awesome">Font Awesome</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-map"></i>
                        <span key="t-maps">Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/maps/mapgoogle" key="t-g-maps">Google Maps</a></li>
                        <li><a href="/maps/mapvector" key="t-v-maps">Vector Maps</a></li>
                        <li><a href="/maps/mapleaflet" key="t-l-maps">Leaflet Maps</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-share-alt"></i>
                        <span key="t-multi-level">Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" key="t-level-1-1">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-level-1-2">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-2-1">Level 2.1</a></li>
                                <li><a href="javascript: void(0);" key="t-level-2-2">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->