
@{
    ViewBag.Title = "ServiceMain";
    Layout = "~/Views/VitalSign/Index.cshtml";

    ViewBag.pTitle = "Service";
    ViewBag.pageTitle = "Service";
    Layout = "~/Views/Shared/Layouts/_layout_horizontal.cshtml";
}
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<style>
    .rm-padding {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        border: none !important
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-12 d-flex justify-content-end">
                        <div class="me-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="ShowServiceForm(0)">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="search-box me-3 mb-3 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" id="searchTableList" placeholder="Search..." border-radius="0px !important">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100" id="userList-table">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" style="width: 5%;">#</th>
                                <th scope="col" style="width: 10%;">Facility</th>
                                <th scope="col" style="width: 25%;">Service Classification</th>
                                <th scope="col" style="width: 35%;">ServiceName</th>
                                <th scope="col" style="width: 20%;">Description</th>
                                <th scope="col" style="width: 5%;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tableData">
                        </tbody>
                    </table>
                    <!-- end table -->
                </div>
                <!-- end table responsive -->
                <div id="stacked-column-chart" data-colors='["--bs-primary", "--bs-warning", "--bs-success"]' class="apex-charts" dir="ltr"></div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Service/_ServiceFormModal.cshtml")
@section scripts{
    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/pages/sweet-alerts.init.js"></script>
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/Scripts/custom/select2-init.js"></script>
    <script src="~/Scripts/custom/modal-handler.js"></script>
    <script src="~/Scripts/custom/dropdown-loader.js"></script>



    <script>
        $(document).ready(function () {
            LoadTable(1);
        });

        function ShowServiceForm(id) {
            showModal(
                '#serviceModal',
                '/Service/ShowServiceForm',
                { id: id },
                function ($modalBody) {
                    // Read the hidden values (since dropdowns are not yet loaded)
                    var currentFacilityId = $modalBody.find('#hidden_facility_id').val() || 0;
                    var currentServiceClassificationId = $modalBody.find('#hidden_service_classification_id').val() || 0;
                    console.log(currentFacilityId, currentServiceClassificationId);
                    loadFacilities(currentFacilityId);
                    loadServiceClassifications(currentServiceClassificationId);
                    initAllSelect2($modalBody);
                }
            );
        }

        function loadFacilities(selectedId) {
            populateDropdown({
                url: '/Facility/GetFacilities',
                dropdownSelector: '#FacilitiesDropdown',
                valueField: 'FacilityId',
                textField: 'FacilityName',
                placeholder: 'Select Facility',
                data: { isActiveOnly: true, currentId: selectedId},
                selectedId: selectedId
            });

        }

        // This function will load the service classifications dynamically.
        function loadServiceClassifications(selectedId) {
            populateDropdown({
                url: '/ServiceClassification/GetServiceClassifications',
                dropdownSelector: '#ServiceClassificationDropdown',
                valueField: 'ServiceClassificationId',
                textField: 'Name',
                placeholder: 'Select Service Classification',
                data: { isActiveOnly: true, currentId: selectedId },
                selectedId: selectedId
            });
        }

        function LoadTable(pageNo) {
            var keyword = "";
            var limit = 10;
            $("#tableData").html("");
            $.ajax({
                type: 'GET',
                url: '/Service/LoadTable',
                data: {
                    pageNo: pageNo,
                    limit: limit,
                    keyword: keyword
                },
                success: function (result) {
                    setTimeout(function () {
                        $("#tableData").html(result);
                    }, 1000);
                },
                error: function () {
                    alert("An error occurred while fetching the data.")
                    //setTimeout(function () {
                    //    $("#tableSpinner").hide();
                    //}, 1000);
                }
            });
        }


        function saveServiceForm() {
            var formData = $('#serviceForm').serialize();

            $.ajax({
                url: $('#serviceForm').data('url') || '/Service/SaveService',
                type: 'POST',
                data: formData,
                success: function (result) {
                    if (result.success) {
                        $('#serviceModal').modal('hide');
                        LoadTable(1);
                        showAlert('success', result.message || 'Service saved successfully.');
                    } else {
                        showAlert('danger', result.message || 'Failed to save service.');
                    }
                },
                error: function () {
                    showAlert('danger', 'Error saving service.');
                }
            });
        }

    </script>
}

