@model SoCot_HC_FE.Models.Address
<link href="~/assets/css/formvalidation.min.css" rel="stylesheet" />
@{
    bool fromFacilityForm = ViewData["FromFacilityForm"] != null && (bool)ViewData["FromFacilityForm"];
}

<form id="addressForm">
    @Html.HiddenFor(model => model.AddressId, new { id = "hidden_AddressId" })




    <div class="form-group col-4" id="HN">
        <label for="HouseNo">House Number</label>
        <input type="text" class="form-control" name="HouseNo" id="HouseNo" onchange="addressKpress(this.id,'txtHouseNo')" required />
    </div>


    <div class="form-group col-4" id="BN">
        <label for="BlockNo">Block Number</label>
        <input type="text" class="form-control" name="BlockNo" id="BlockNo" onchange="addressKpress(this.id,'txtBlockNo')" required />
    </div>


    <div class="form-group col-4" id="LN">
        <label for="LotNo">Lot Number</label>
        <input type="text" class="form-control" name="LotNo" id="LotNo" onchange="addressKpress(this.id,'txtLotNo')" required />
    </div>


    <div class="form-group col-4" id="Street">
        <label for="Street">Street</label>
        <input type="text" class="form-control" name="Street" id="Street" onchange="addressKpress(this.id,'txtStreet')" required />
    </div>


    <div class="form-group col-4" id="Subd">
        <label for="Subdivision">Subdivision</label>
        <input type="text" class="form-control" name="Subdivision" id="Subdivision" onchange="addressKpress(this.id,'txtSubdivision')" required />
    </div>


    <div class="form-group col-4" id="Prk">
        <label for="Sitio">Sitio/Purok</label>
        <input type="text" class="form-control" name="Sitio" id="Sitio" onchange="addressKpress(this.id,'txtSitio')" required />
    </div>

    <div class="form-group col-4">
        <label for="ProvinceId">Province</label>
        @Html.DropDownListFor(model => model.ProvinceId,
            ViewBag.ProvincesList as List<SelectListItem>,
            "-- Select Province --",
            new { @class = "form-control select2", id = "ProvinceId" })
    </div>

    <div class="form-group col-4">
        <label for="MunicipalityId">Municipality</label>
        <select id="MunicipalityId" name="MunicipalityId" class="form-control select2">
            <option value="">-- Select Municipality --</option>
        </select>
    </div>

    <div class="form-group col-4">
        <label for="BarangayId">Barangay</label>
        <select id="BarangayId" name="BarangayId" class="form-control select2">
            <option value="">-- Select Barangay --</option>
        </select>
    </div>




</form>

<script>
    $(document).ready(function () {
        $('#ProvinceId').on('change', function () {
            const provinceId = $(this).val();

            // Reset dropdowns
            $('#MunicipalityId').html('<option value="">-- Loading --</option>');
            $('#BarangayId').html('<option value="">-- Select Barangay --</option>');

            if (provinceId) {
                $.ajax({
                    url: '/Facility/LoadMunicipalities',
                    type: 'GET',
                    data: { provinceId: provinceId },
                    success: function (data) {
                        if (data.success === false) {
                            alert(data.message);
                            $('#MunicipalityId').html('<option value="">-- No municipalities found --</option>');
                            return;
                        }

                        let options = '<option value="">-- Select Municipality --</option>';
                        $.each(data.data, function (i, item) {
                            options += `<option value="${item.MunicipalityId}">${item.MunicipalityName}</option>`;
                        });

                        $('#MunicipalityId').html(options);
                    },
                    error: function (xhr, status, error) {
                        console.log(`AJAX Error: ${status} - ${error}`);
                        alert('Failed to load municipalities.');
                        $('#MunicipalityId').html('<option value="">-- Error loading --</option>');
                    }
                });
            }
        });
        // Handle municipality change event
        $('#MunicipalityId').on('change', function () {
            const cityMunicipalId = $(this).val();

            $('#BarangayId').html('<option value="">-- Loading --</option>');

            if (cityMunicipalId) {
                // Make an AJAX request to load barangays
                $.ajax({
                    url: '/Facility/LoadBarangays',
                    type: 'GET',
                    data: { cityMunicipalId: cityMunicipalId },
                    // Assuming this is inside your AJAX success handler
                    success: function (response) {
                        if (response.success) {
                            var barangayDropdown = $('#BarangayId');

                            // Clear existing options and add the default
                            barangayDropdown.empty().append('<option value="">-- Select Barangay --</option>');

                            // Loop through barangay data and populate options
                            $.each(response.data, function (i, item) {
                                barangayDropdown.append(`<option value="${item.BarangayId}">${item.BarangayName}</option>`);
                            });
                        } else {
                            alert("Failed to load barangays.");
                        }
                    }

                });
            }
        });
    });
</script>
