<div id="WRAModal" class="modal fade" tabindex="-1" aria-labelledby="WRAModalLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="WRAModalLabel">Record WRA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="WRAModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="SaveWRA()">Save changes</button>
            </div>
        </div>
    </div>
</div>